.btn.btnCheck {
    font-size: 20px;
    padding: 15px 42px;
}

.btn.btnCheck:hover {
    color: #fff;
    background-color: rgb(255, 115, 0);
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border: black;
}